NODE_LOCAL_PORT=4000
NODE_DOCKER_PORT=4000
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=password
MONGO_URL=mongodb://mongo:27017/your-database
MONGO_USER=root
MONGO_PASSWORD=password
PORT=4000
ACCESS_TOKEN_VALIDITY_DURATION_IN_SEC=50000000
JWT_SECRET=VERY_SECRET_MUCH_SECURITY
MINIO_ACCESS_KEY=NICE_ACCESS_KEY
MINIO_SECRET_KEY=NICE_SECRET_KEY
MINIO_BUCKET=product-images
MINIO_EXTERNAL_URL=http://localhost:9000/product-images
MINIO_ENDPOINT=minio
MINIO_PORT=9000
API_VERSION=1.0.0
